.open-btn {
    width: 150px;
    height: 40px;
    background: rgba(0, 0, 0, 0.792);
    border: none;
    border-radius: 10px;
    border: 2px solid rgba(255,0,255,0.52);
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: azure;
}

.open-btn:hover {
    background:  rgba(0, 0, 0, 0.929);
}